@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #000;
    font-weight: 400;
    color: #fff;
}


/* Site container */
.container {
    width: 94%;
    height: 100vh;
    overflow-y: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Left aside */
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 100%;
    padding-top: 33px;
    overflow-y: auto;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left .logo {
    width: 24px;
    padding-bottom: 20px;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d9d9d9;
    margin: 25px 0;
}

.nav-link span {
    font-size: 1.9rem;
    font-weight: 500;
    padding-left: 15px;
}

.nav-link.notifications {
    position: relative;
    display: inline-flex;
    margin: 0;
}

.nav-link.notifications .badge {
    background-color: #1D98F0;
    color: #fff;
    position: absolute;
    top: -6px;
    left: 10px;
    width: 18px;
    height: 18px;
    padding: 0 7px;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-link.btn {
    background-color: #1D9BF0;
    border: 1px solid #1D9BF0;
    border-radius: 30px;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    width: 225px;
    height: 52px;
}

.nav-link.btn span {
    margin: 0 66px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
}

.user-profile {
    display: flex;
}

.info .title {
    display: flex;
    align-items: center;
}

.info .title h6 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: 5px;
}

.info .account {
    color: #6E767D;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Main content */
.content {
    width: 70%;
    height: 100%;
    padding-top: 20px;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
    margin-right: 10px;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2F3336;
    padding: 10px 20px;
}

.header p {
    font-size: 2rem;
    font-weight: 700;
}

.tweet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    height: 140px;
    border-bottom: 1px solid #2F3336;
}

.author-detail {
    display: flex;
    align-items: center;
}

.author-detail img {
    width: 48px;
}

.author-detail p {
    font-size: 2rem;
    color: #6E767D;
    padding-top: 10px;
    padding-left: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    padding-left: 58px;
    padding-bottom: 10px;
}

.links .btn {
    background-color: #1D9BF0;
    border: 1px solid #1D9BF0;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.5;
}

.timeline {
    display: flex;
    flex-direction: column;
}

.tweets-box {
    display: flex;
    padding: 20px 40px;
    border-bottom: 1px solid #2F3336;
}

.tweet-details {
    padding-left: 15px;
}

.tweet-info {
    display: flex;
    padding-bottom: 5px;
}

.tweet-info span {
    display: flex;
    padding-right: 6px;
}

.tweet-info span h6 {
    font-size: 1.5rem;
    padding-right: 5px;
}

.tweet-info span img {
    width: 20px;
}

.tweet-info p {
    color: #6E767D;
    font-size: 1.5rem;
    font-weight: 300;
}

.the-tweet p{
    font-size: 1.5rem;
    color: #d9d9d9;
    line-height: 21px;
}

.tweet-links {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.tweet-links span {
    display: flex;
    align-items: center;
}

.tweet-links span p {
    font-size: 1.3rem;
    font-weight: 300;
    color: #6E767D;
    padding-left: 15px;
}

.tweet-links #share {
    padding-right: 50px;
}

/* right aside */
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.right .search form {
    background-color: #202327;
    border-radius: 20px;
    width: 350px;
    height: 42px;
    margin-bottom: 15px;
}

.right .search input {
    border: none;
    width: 100%;
    height: 100%;
    background: url('images/Icons/Search.png') no-repeat 20px 10px;
    padding-left: 60px;
    font-size: 1.5rem;
}

.right .trends {
    background-color: #202327;
    border-radius: 15px;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.trends .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trends .upper p {
    font-size: 1.9rem;
    font-weight: 500;
}

.trends .middle {
    display: flex;
    flex-direction: column;
}

.trend-box {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.trend-info small,
.trend-info p {
    font-size: 1.3rem;
    color: #6E767D;
}

.trend-info h6 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 0;
}

.trend-box img {
    width: 24px;
    align-self: center;
}

.trend-box a {
    text-decoration: none;
    color: #1D98F0;
    font-size: 1.5rem;
    font-weight: 700;
}

.right {
    overflow-y: auto;
}

.right .follow {
    background-color: #202327;
    border-radius: 15px;
    padding: 15px 20px;
}

.upper h6{
    font-size: 2rem;
    font-weight: 700;
    padding: 12px 0;
}

.follow .follow-box {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.follow .follow-info {
    display: flex;
    align-items: center;
}

.follow-info .follow-account-info {
    padding-left: 10px;
}

.follow-info .follow-account-info span {
    display: flex;
    align-items: center;
}

.follow-info .follow-account-info span h6 {
    font-size: 1.5rem;
}

.follow-info .follow-account-info span img {
    width: 19px;
    padding-left: 5px;
}

.follow-info .follow-account-info p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #6E767D;
}

.follow-box .follow-btn {
    background-color: #fff;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #000;
}

.bottom .follow-box a {
    text-decoration: none;
    color: #1D98F0;
    font-size: 1.4rem;
    font-weight: 700;
}

.quick-links nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 300px;
    padding: 30px 20px 0;
}

.quick-links nav a {
    text-decoration: none;
    color: #6E767D;
    font-size: 1.3rem;
    font-weight: 300;
    padding-bottom: 5px;
}